{% load i18n %}
<div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>{% translate 'Go to article' %}</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            {% for post in posts %}
            <a href="{% url 'core:article' post.slug %}" class="dropdown-item">
                {{ post.title|truncatechars:40 }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
