{% extends 'core/base.html' %}{% load i18n %}

{% block center %}
<h1 class="title mt-4">
    {% translate 'Approve comments' %}
</h1>
{% for comment in comments %}
<article class="media box">
    <div class="media-content">
        <div class="content">
            <p class="is-pulled-right">
                {{ comment.created|date:'SHORT_DATETIME_FORMAT' }}
            </p>
            <small>{% translate 'Article:' %} {{ comment.post.title }}</small>
            <br>
            <strong>{{ comment.name }}</strong>
            {% if comment.email %}
            <a href="mailto:{{ comment.email }}" title="{{ comment.email }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </a>
            {% endif %}
            <p id="body-{{ comment.id }}" data-url="{% url "core:approve-comment" %}">
                {{ comment.body }}
            </p>
            <div class="field is-grouped">
                <p class="control">
                    <button id="ok-{{ comment.id }}" class="button is-small is-success" onclick="approve('ok', {{ comment.id }});">
                        <span class="icon"><i class="far fa-check-circle"></i></span>
                        <span>{% translate 'Approve' %}</span>
                    </button>
                </p>
                <p class="control">
                    <button id="del-{{ comment.id }}" class="button is-small is-danger" onclick="approve('delete', {{ comment.id }});">
                        <span class="icon"><i class="far fa-trash-alt"></i></span>
                        <span>{% translate 'Delete' %}</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</article>
{% empty %}
<h3>{% translate 'No comments to approve' %}</h3>
{% endfor %}
{% endblock %}
